.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #000000;
  min-width: 0;
  min-height: 0;
  padding: 0px 24px 96px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.freeBox__vy0Mt {
  display: flex;
  position: sticky;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  backdrop-filter: blur(8px);
  min-width: 0;
  -webkit-backdrop-filter: blur(8px);
  padding: 15px 8px 8px;
}
.freeBox__vy0Mt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
}
.freeBox__vy0Mt > :global(.__wab_flex-container) > *,
.freeBox__vy0Mt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vy0Mt > :global(.__wab_flex-container) > picture > img,
.freeBox__vy0Mt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
.freeBox__eHu2Z {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 47px;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__hwoir {
  object-fit: cover;
  max-width: 100%;
  width: 271px;
  margin-top: 46px;
  height: 157px;
  flex-shrink: 0;
}
.img__hwoir > picture > img {
  object-fit: cover;
}
.button__vRGyY:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__gt6BD {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__zjEe9 {
  height: auto;
  color: #000000;
}
.svg__xsDwm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button___0Lh73:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button___0Lh73:global(.__wab_instance) {
    display: none;
  }
}
.svg__eoilx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__ciaHb {
  height: auto;
}
.svg___7Xgl8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__gap9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(84px + 0px) !important;
  margin-bottom: 0px;
  margin-left: 4px;
  margin-right: 0px;
  align-self: center;
  background: url("/plasmic/vercel_workflow/images/mbaBGpng.png") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 0px;
}
.freeBox__gap9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__gap9 > :global(.__wab_flex-container) > *,
.freeBox__gap9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gap9 > :global(.__wab_flex-container) > picture > img,
.freeBox__gap9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h1___0CfSf {
  width: 100%;
  height: auto;
  max-width: 1154px;
  text-align: center;
  padding-right: 5px;
  padding-left: 0px;
  padding-bottom: 12px;
  min-width: 0;
}
.text__deAo9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1044px;
  text-align: center;
  font-size: 30px;
  padding-top: 49px;
  min-width: 0;
}
.button___57UEa:global(.__wab_instance) {
  max-width: 100%;
  width: 171px;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  margin-top: calc(25px + 25px) !important;
}
.svg__bZpIo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__lrrZm {
  text-align: center;
  color: #000000;
}
.svg__p5R3S {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__uwr4R {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(146px + 0px) !important;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uwr4R {
    margin-top: calc(146px + 0px) !important;
  }
}
.freeBox__mE6Ns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___375M {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  margin-right: 46px;
  min-height: 0;
  padding: 25px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___375M {
    margin-right: 0px;
  }
}
.freeBox___2RhFc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  max-width: 100%;
  background: #ffffff;
  flex-shrink: 0;
  border-radius: 999px;
  padding: 8px;
}
.text__yx2Z {
  width: auto;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-weight: 700;
  font-size: var(--token-MLc2lpS_Y8OO);
}
.freeBox__vaszC {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 3px;
  height: auto;
  max-width: 100%;
  left: 31px;
  top: -200px;
  background: linear-gradient(
      0deg,
      #ffffff00 0%,
      #ffffff40 29%,
      #ffffff40 71%,
      #ffffff00 100%
    )
    0% 0% / 100% 100% repeat;
  bottom: -200px;
}
.freeBox__aanT {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1098px;
  height: auto;
  max-width: 100%;
  min-height: 400px;
  grid-row-gap: 64px;
  grid-column-gap: 32px;
  flex-shrink: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aanT {
    grid-template-columns: 1fr;
  }
}
.freeBox__xNkKl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  padding: 8px;
}
.reveal___0Sa:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.h2__qXlKk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 21px;
  min-width: 0;
}
.text__nfCtG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: var(--token-MLc2lpS_Y8OO);
  min-width: 0;
}
.freeBox__bCuG {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
  background: url("/plasmic/vercel_workflow/images/mbaModernBGpng.png") top 50% left 50% / cover repeat;
  border-radius: 8px;
  padding: 8px;
  border-style: solid;
  border-color: #2e2e2e;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bCuG {
    margin-top: 0px;
    padding-top: 0px;
  }
}
.freeBox__w19N1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 0px;
  height: 0px;
  max-width: 100%;
  flex-shrink: 0;
  padding: 8px;
}
.img__ra9AD {
  object-fit: cover;
  width: 900px;
  height: 900px;
  flex-shrink: 0;
}
.img__ra9AD > picture > img {
  object-fit: cover;
}
.freeBox__jRodV {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 100%;
  padding: 8px;
}
.reveal__bRq8D:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__aZaxa {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  border-radius: 8px;
  padding: 8px;
  border-style: solid;
  border-color: #2e2e2e;
}
.img__fWLe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 50px;
  flex-shrink: 0;
}
.img__fWLe > picture > img {
  object-fit: cover;
}
.text___1Y3Vg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  font-size: 72px;
  background: linear-gradient(0deg, #ae609e 0%, #f2d599 100%) 0% 0% / 100% 100%
    repeat padding-box /* clip: text **/;
  color: #eeeeee00;
  min-width: 0;
  background-clip: text;
  -webkit-background-clip: text;
}
.text__mvVZa {
  position: relative;
  font-size: var(--token-MLc2lpS_Y8OO);
}
.freeBox__j7LW {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 100%;
  padding: 8px;
}
.reveal__zCn96:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__wuQzh {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  border-radius: 8px;
  padding: 8px;
  border-style: solid;
  border-color: #2e2e2e;
}
.freeBox__wuQzh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__wuQzh > :global(.__wab_flex-container) > *,
.freeBox__wuQzh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wuQzh > :global(.__wab_flex-container) > picture > img,
.freeBox__wuQzh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h3__dkezr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__k9XMa {
  position: relative;
}
.button__kk6ED:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(24px + 12px) !important;
}
.svg___3W4A {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__w8A1V {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__zOlrq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h3___4Rv1Z {
  text-align: center;
  margin-top: 56px;
}
.columns__tKWwu {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-right: 0px;
  overflow: auto;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px 0px 8px 8px;
}
.columns__tKWwu > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tKWwu {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tKWwu > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__eEjs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  align-content: stretch;
  background: none;
  min-width: 0;
  padding: 8px 0px;
}
.img__ksIP {
  object-fit: cover;
  width: 400px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
}
.img__ksIP > picture > img {
  object-fit: cover;
}
.freeBox__p0F00 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.text__teO {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 25px;
  min-width: 0;
}
.freeBox__tkUDl {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  margin-top: calc(70px + 0px) !important;
  min-width: 0;
  padding: 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tkUDl {
    margin-top: calc(70px + 0px) !important;
  }
}
.freeBox__vhIsX {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__hzTbm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  margin-right: 46px;
  min-height: 0;
  padding: 25px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hzTbm {
    margin-right: 0px;
  }
}
.freeBox__cmLN {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  max-width: 100%;
  background: #ffffff;
  flex-shrink: 0;
  border-radius: 999px;
  padding: 8px;
}
.text__g1Dq {
  width: auto;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-weight: 700;
  font-size: var(--token-MLc2lpS_Y8OO);
}
.freeBox__wYwbv {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 3px;
  height: auto;
  max-width: 100%;
  left: 31px;
  top: -200px;
  background: linear-gradient(
      0deg,
      #ffffff00 0%,
      #ffffff40 29%,
      #ffffff40 71%,
      #ffffff00 100%
    )
    0% 0% / 100% 100% repeat;
  bottom: -200px;
}
.releaseList:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .releaseList:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.freeBox__hr9Vk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(146px + 0px) !important;
  min-width: 0;
  padding: 8px;
}
.freeBox__s2Gq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  margin-right: 46px;
  min-height: 0;
  padding: 25px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__s2Gq {
    margin-right: 0px;
  }
}
.freeBox__bCftA {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  max-width: 100%;
  background: #ffffff;
  flex-shrink: 0;
  border-radius: 999px;
  padding: 8px;
}
.text__nEj3H {
  width: auto;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-weight: 700;
  font-size: var(--token-MLc2lpS_Y8OO);
}
.freeBox__lVxfi {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 3px;
  height: auto;
  max-width: 100%;
  left: 31px;
  top: -200px;
  background: linear-gradient(
      0deg,
      #ffffff00 0%,
      #ffffff40 29%,
      #ffffff40 71%,
      #ffffff00 100%
    )
    0% 0% / 100% 100% repeat;
  bottom: -200px;
}
.freeBox__cSgWs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1098px;
  height: auto;
  max-width: 100%;
  min-height: 400px;
  grid-row-gap: 64px;
  grid-column-gap: 32px;
  flex-shrink: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cSgWs {
    grid-template-columns: 1fr;
  }
}
.freeBox__xETx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  grid-column-end: span 2;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xETx {
    grid-column-end: span 1;
  }
}
.h2__eEcr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 21px;
  min-width: 0;
}
.text__rYp4K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 688px;
  font-size: var(--token-MLc2lpS_Y8OO);
  min-width: 0;
}
.freeBox__bpiBf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  border-radius: 8px;
  padding: 8px;
  border-style: solid;
  border-color: #2e2e2e;
}
.img__wkUWv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 196px;
}
.img__wkUWv > picture > img {
  object-fit: cover;
}
.freeBox__sInVn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 25px;
  min-width: 0;
  padding: 8px;
}
.freeBox__xFmGj {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 128px;
  height: 128px;
  max-width: 100%;
  background: none;
  flex-shrink: 0;
  border-radius: 999px;
  padding: 8px;
  border: 8px solid #30ff59;
}
.text__rG3Si {
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-weight: 700;
  font-size: 48px;
}
.text___1C73X {
  position: relative;
  font-size: var(--token-MLc2lpS_Y8OO);
  margin-left: 24px;
}
.freeBox__dLacU {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 100%;
  border-radius: 8px;
  padding: 8px;
  border-style: solid;
  border-color: #2e2e2e;
}
.freeBox__dLacU > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__dLacU > :global(.__wab_flex-container) > *,
.freeBox__dLacU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dLacU > :global(.__wab_flex-container) > picture > img,
.freeBox__dLacU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text__hgvrW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  font-size: 72px;
  background: linear-gradient(0deg, #ae609e 0%, #f2d599 100%) 0% 0% / 100% 100%
    repeat padding-box /* clip: text **/;
  color: #eeeeee00;
  min-width: 0;
  background-clip: text;
  -webkit-background-clip: text;
}
.text__jjeXf {
  position: relative;
  font-size: var(--token-MLc2lpS_Y8OO);
}
.h1___27Uec {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 32px;
  text-align: center;
  margin-top: calc(256px + 0px) !important;
  min-width: 0;
}
.text__cLVc {
  margin-right: 0px;
  max-width: 1097px;
  width: 100%;
  margin-left: 0px;
  text-align: center;
  margin-top: calc(0px + 0px) !important;
  margin-bottom: 0px;
  min-width: 0;
  padding: 0px 15px;
}
.freeBox___7OwnF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 1128px;
  height: auto;
  max-width: 100%;
  margin-top: calc(186px + 0px) !important;
  padding: 8px;
}
.freeBox___7OwnF > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 51px);
  height: calc(100% + 51px);
}
.freeBox___7OwnF > :global(.__wab_flex-container) > *,
.freeBox___7OwnF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7OwnF > :global(.__wab_flex-container) > picture > img,
.freeBox___7OwnF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 51px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7OwnF {
    display: flex;
    flex-direction: column;
    margin-top: calc(186px + 0px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7OwnF > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7OwnF > :global(.__wab_flex-container) > *,
  .freeBox___7OwnF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___7OwnF > :global(.__wab_flex-container) > picture > img,
  .freeBox___7OwnF
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__gRHmQ {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gRHmQ {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
.freeBox__dJg6I {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border-style: solid;
  border-color: #2e2e2e;
}
.freeBox__dJg6I > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__dJg6I > :global(.__wab_flex-container) > *,
.freeBox__dJg6I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dJg6I > :global(.__wab_flex-container) > picture > img,
.freeBox__dJg6I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h3___4Qrby {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__ioIfB {
  position: relative;
}
.button__in2Yj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(24px + 12px) !important;
}
.svg__k15Xc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__rCbz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__i4MW6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  margin: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__i4MW6 {
    margin-left: 8px;
    margin-top: 8px;
  }
}
.freeBox__lx8Sm {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lx8Sm {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
.freeBox__lqMsN {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border-style: solid;
  border-color: #2e2e2e;
}
.freeBox__lqMsN > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__lqMsN > :global(.__wab_flex-container) > *,
.freeBox__lqMsN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lqMsN > :global(.__wab_flex-container) > picture > img,
.freeBox__lqMsN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h3___8Q7TT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__ox6J8 {
  position: relative;
}
.button__cr7S8:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(24px + 12px) !important;
}
.svg__xLyL {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__jkSCx {
  padding-bottom: 0px;
}
.svg___60N7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__xQgW3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  margin: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__xQgW3 {
    margin-top: 8px;
    margin-left: 8px;
  }
}
.freeBox__vauv3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vauv3 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
.freeBox___3CF23 {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border-style: solid;
  border-color: #2e2e2e;
}
.freeBox___3CF23 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox___3CF23 > :global(.__wab_flex-container) > *,
.freeBox___3CF23 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3CF23 > :global(.__wab_flex-container) > picture > img,
.freeBox___3CF23
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h3__maloR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text___86Jmd {
  position: relative;
}
.button___8S2Jw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(24px + 12px) !important;
}
.svg__pTsNw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__gwq2D {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__pzxnR {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  margin: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__pzxnR {
    margin-left: 8px;
    margin-top: 8px;
  }
}
.freeBox___4MtLr {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4MtLr {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
.freeBox__nAWN {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border-style: solid;
  border-color: #2e2e2e;
}
.freeBox__nAWN > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__nAWN > :global(.__wab_flex-container) > *,
.freeBox__nAWN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nAWN > :global(.__wab_flex-container) > picture > img,
.freeBox__nAWN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h3___4LErh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__jD2V {
  position: relative;
}
.button___27EXj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(24px + 12px) !important;
}
.svg___9T6F {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___7PIbK {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__k1Xse {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  margin: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__k1Xse {
    margin-top: 8px;
    margin-left: 8px;
  }
}
.img__ft7A3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 460px;
  margin-top: calc(27px + 0px) !important;
  margin-right: 0px;
}
.img__ft7A3 > picture > img {
  object-fit: cover;
}
.h2__yxXIr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.freeBox__s5JAq {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__s5JAq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__s5JAq > :global(.__wab_flex-container) > *,
.freeBox__s5JAq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s5JAq > :global(.__wab_flex-container) > picture > img,
.freeBox__s5JAq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.button__pgErX:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___3R2Vo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__bjMd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button___3Y5Xl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__tVu5A {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__hEoSu {
  padding-top: 0px;
}
.svg__qwmiX {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__yOeoe {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  justify-content: center;
  min-width: 0;
  padding: 64px 64px 64px 0px;
}
.columns__wA8H1 {
  display: flex;
  position: relative;
  max-width: 960px;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns__wA8H1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  --plsmc-rc-col-gap: 64px;
}
.columns__wA8H1 > :global(.__wab_flex-container) > *,
.columns__wA8H1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__wA8H1 > :global(.__wab_flex-container) > picture > img,
.columns__wA8H1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
.columns__wA8H1 > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__wA8H1 > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__wA8H1 > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__wA8H1 > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wA8H1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wA8H1 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wA8H1 > :global(.__wab_flex-container) > *,
  .columns__wA8H1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__wA8H1 > :global(.__wab_flex-container) > picture > img,
  .columns__wA8H1
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wA8H1 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__eMtwi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__eMtwi {
    width: 100%;
  }
}
.freeBox__uwi2I {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__uwi2I > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__uwi2I > :global(.__wab_flex-container) > *,
.freeBox__uwi2I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uwi2I > :global(.__wab_flex-container) > picture > img,
.freeBox__uwi2I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.img__hxIyg {
  object-fit: cover;
  width: 40px;
  height: 40px;
  position: relative;
  opacity: 0.5;
  flex-shrink: 0;
}
.img__hxIyg > picture > img {
  object-fit: cover;
}
.freeBox__be5Yy {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__be5Yy > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__be5Yy > :global(.__wab_flex-container) > *,
.freeBox__be5Yy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__be5Yy > :global(.__wab_flex-container) > picture > img,
.freeBox__be5Yy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__r3FCa {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__mk4YR {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__mk4YR > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__mk4YR > :global(.__wab_flex-container) > *,
.freeBox__mk4YR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mk4YR > :global(.__wab_flex-container) > picture > img,
.freeBox__mk4YR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__ejVlN {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599;
  flex-shrink: 0;
}
.svg__ppAjz {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599;
  flex-shrink: 0;
}
.svg__iSkbe {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599;
  flex-shrink: 0;
}
.column__oCiRz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__oCiRz {
    width: 100%;
  }
}
.freeBox__z9Cq4 {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__z9Cq4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__z9Cq4 > :global(.__wab_flex-container) > *,
.freeBox__z9Cq4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z9Cq4 > :global(.__wab_flex-container) > picture > img,
.freeBox__z9Cq4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___2U1V8 {
  position: relative;
  left: auto;
  top: auto;
  color: #05050599;
  height: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.button__qkQax:global(.__wab_instance) {
  position: relative;
}
.svg__pFuq2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__qgC1Q {
  height: auto;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__xuldP {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__seOdQ:global(.__wab_instance) {
  position: relative;
}
.svg__zOagG {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__cpo0V {
  height: auto;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__knZsG {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__aUds:global(.__wab_instance) {
  position: relative;
}
.svg__uwMbH {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__okTl {
  height: auto;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__e0WOm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__xIVd:global(.__wab_instance) {
  position: relative;
}
.svg__bnbmw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__dCatk {
  height: auto;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__xxi1A {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__rwbR2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__rwbR2 {
    width: 100%;
  }
}
.freeBox__xRaYk {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__xRaYk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__xRaYk > :global(.__wab_flex-container) > *,
.freeBox__xRaYk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xRaYk > :global(.__wab_flex-container) > picture > img,
.freeBox__xRaYk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__tHmZf {
  position: relative;
  left: auto;
  top: auto;
  color: #05050599;
  height: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.button__g7APy:global(.__wab_instance) {
  position: relative;
}
.svg__xZhjM {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___7RyTn {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  padding-bottom: 0px;
}
.svg__fEhsS {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__wyCit:global(.__wab_instance) {
  position: relative;
}
.svg___97Xhl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__kUmz {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__aXy6V {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button___8DfNg:global(.__wab_instance) {
  position: relative;
}
.svg__j3CIr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__boVx1 {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__et0Cs {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__pTd6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__pTd6 {
    width: 100%;
  }
}
.freeBox__gxyhJ {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__gxyhJ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__gxyhJ > :global(.__wab_flex-container) > *,
.freeBox__gxyhJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gxyhJ > :global(.__wab_flex-container) > picture > img,
.freeBox__gxyhJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__nkQlf {
  position: relative;
  left: auto;
  top: auto;
  color: #05050599;
  height: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.button__zu6Zh:global(.__wab_instance) {
  position: relative;
}
.svg__aGbNa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__hKrJ {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___7QLvI {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__njbNv:global(.__wab_instance) {
  position: relative;
}
.svg__iRdqL {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__cjfXn {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__uQoG {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__lt5Vb:global(.__wab_instance) {
  position: relative;
}
.svg__hpUec {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__lsoM {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___1QntN {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button___4Rxze:global(.__wab_instance) {
  position: relative;
}
.svg__fguvQ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__g9Gq8 {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__yy17O {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__n0JF5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
